<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=gd;Initial Catalog=GD2C2013;Data Source=localhost\SQLSERVER2008;Password=gd2013;MultipleActiveResultSets=True"></add>
    <add key="Fecha" value="20/10/2013"></add>
  </appSettings>
</configuration>